# Виртуальное окружение 
venv/
.venv/
env/
bin/
lib/
include/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Переменные окружения и секреты
.env
.flaskenv

# Настройки IDE (VS Code, PyCharm)
.vscode/
.idea/
*.swp

# Базы данных 
*.sqlite3
*.db

# Папки сборки и дистрибутивы
build/
dist/
*.egg-info/